<p class="h2" style="color: darkblue; text-align: center;"> Choose your dish!</p>
 <br><br>

 

 <div class="container">
  <div class="row ">


      <div class="col-sm">
<div class="card" style="width: 18rem; height: 30em;">
  <img src="../assets/nindian.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">North Indian</h5>
    <p class="card-text">North cuisine is a part of cuisine, from the region of Northern India. North Indian food is low to moderate spicy, rich and creamy.</p>
    <a routerLink="../norind" class="btn btn-primary"> North Indian</a>
  </div>
</div>
      </div>

<div class="col-sm">
<div class="card" style="width: 18rem; height: 30em;">
  <img src="../assets/sindian.jpg" class="card-img-top" alt="..." style="width: auto; height: 15em;">
  <div class="card-body">
    <h5 class="card-title">South Indian </h5>
    <p class="card-text">South Indian cuisine includes the cuisines of the five southern states of India. It include the presence of rice as a staple food.</p>
    <a routerLink="../sindian" class="btn btn-primary"> South Indian</a>
  </div>
</div>
</div>
      </div>

      <br>

<div class="row ">
  <div class="col-sm">
<div class="card" style="width: 18rem; height: 30em;">
  <img src="../assets/chin.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chinese</h5>
    <p class="card-text">Chinese cuisine is an important part of Chinese culture, which includes cuisine originating from the diverse regions of China.</p>
    <a href="#" class="btn btn-primary"> Chinese</a>
  </div></div></div>

  <div class="col-sm">
<div class="card" style="width: 18rem; height: 30em; ">
<img src="../assets/italian.jpg" class="card-img-top" alt="..." style="width: auto; height: 15em;">
<div class="card-body">
  <h5 class="card-title">Italian</h5>
  <p class="card-text">Italian cuisine is a Mediterranean cuisine consisting of the recipes and cooking techniques developed across the Italy .</p>
  <a href="#" class="btn btn-primary"> Italian</a>
</div>
</div>
</div>

</div></div>

  <router-outlet></router-outlet>