<p class="h2" style="color: darkblue; text-align: center;">Menu</p>
<br>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <p class="h4"> Roti </p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" placeholder="Aloo Paratha">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Kulcha">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Naan">
  </div>

  
    </div>


    <div class="col-sm">
      <p class="h4"> Curry </p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Kolhapuri">
  </div>
  
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Hyderabadi">
    </div>
  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Spicy">
    </div>
    </div>


    <div class="col-sm">
      <p class="h4"> Rice Items </p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Fried Rice">
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Veg Biriyani">
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Jeera Rice">
      </div>
      </div>

      

      </div>
    
      <div class="row " style="margin: 0 auto;">  
       <button type="button" style='margin-right:16px' class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary">Reset</button>
      </div>

    </div>

